{% extends "react_base.html" %} {% block content %}
<div
  id="particles-js-react"
  class="position-absolute w-100 h-100"
  style="z-index: -1"
>
  <div id="bg" data-type="confetti"></div>
</div>

<!-- Hero Section -->
<section
  class="position-relative text-center d-flex flex-column justify-content-center align-items-center ms-5 me-5"
>
  <section
    class="position-relative text-center d-flex flex-column justify-content-center ms-5 me-5"
    style="margin-top: 0px"
  >
    <div
      id="navbar-root"
      data-theme="light"
      data-logo="Pain Recognition"
      data-logo-position="left"
      data-nav-align="right"
      data-rounded="true"
      data-animate-type="animate__fadeInDown"
      data-nav-items='[
     {"name":"Dashboard","link":"/admin/dashboard"},
     {"name":"View Data","link":"/admin/view_data"},
     {"name":"Preprocess","link":"/admin/preprocess"},
     {"name":"Train Model","link":"/admin/models"},
     {"name":"View Graph","link":"/admin/graph"},
     {"name":"Logout","link":"/"}
     ]'
    ></div>
  </section>
</section>
<section class="container">
  <div
    class="card shadow-lg rounded-4 p-4 mb-5 text-center animate__animated animate__fadeIn"
    style="
      background: linear-gradient(240deg, #9a107cb7 10%, #135bd8ff);
      color: white;
    "
  >
    <h2 class="fw-bold mb-2">
      <i class="fa-solid fa-database"></i>Metrics Analysis Graph
    </h2>
  </div>
  <div
    style="
      max-width: 900px;
      height: 450px;
      margin: 50px auto;
      padding: 20px;
      background: white;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
    "
  >
    <canvas id="metricsChart"></canvas>
  </div>
  <!-- Pass data to JS -->
  <script id="graph-data" type="application/json">
    {{ graph_data | tojson | safe }}
  </script>
</section>

<!-- ✅ Load external React component -->

<script
  type="text/babel"
  src="{{ url_for('static', filename='react_components/ParticlesBackground.js') }}"
></script>
<script
  type="text/babel"
  src="{{ url_for('static', filename='react_components/Navbar.js') }}"
></script>
<script
  type="text/babel"
  src="{{ url_for('static', filename='react_components/BarChart.js') }}"
></script>

{% endblock %}
