{% extends "react_base.html" %} {% block content %}
<div
  id="particles-js-react"
  class="position-absolute w-100 h-100"
  style="z-index: -1"
>
  <div id="bg" data-type="confetti"></div>
</div>

<!-- Hero Section -->
<section
  class="position-relative text-center d-flex flex-column justify-content-center align-items-center ms-5 me-5"
>
  <!-- Navbar -->
  <section
    class="position-relative text-center d-flex flex-column justify-content-center ms-5 me-5"
    style="margin-top: 0px"
  >
    <div
      id="navbar-root"
      data-theme="light"
      data-logo="Pain Recognition"
      data-logo-position="left"
      data-nav-align="right"
      data-rounded="true"
      data-animate-type="animate__fadeInDown"
      data-nav-items='[
     {"name":"Dashboard","link":"/admin/dashboard"},
     {"name":"View Data","link":"/admin/view_data"},
     {"name":"Preprocess","link":"/admin/preprocess"},
     {"name":"Train Model","link":"/admin/models"},
     {"name":"View Graph","link":"/admin/graph"},
     {"name":"Logout","link":"/"}
     ]'
    ></div>
  </section>
</section>
<section class="container">
  <div
    class="card shadow-lg rounded-4 p-4 mb-5 text-center animate__animated animate__fadeIn"
    style="
      background: linear-gradient(240deg, #026e129e 20%, rgb(34, 201, 5) 80%);
      color: white;
    "
  >
    <h2 class="fw-bold mb-2">
      <i class="fa-solid fa-database"></i>Metrics Analysis Report
    </h2>
  </div>

  <div
    id="cards-root"
    class="d-flex justify-content-center flex-wrap mt-5"
  ></div>
</section>

<!-- ✅ Load external React component -->

<script id="card-data" type="application/json">
  {{ card_data | tojson | safe }}
</script>
<script
  type="text/babel"
  src="{{ url_for('static', filename='react_components/ParticlesBackground.js') }}"
></script>
<script
  type="text/babel"
  src="{{ url_for('static', filename='react_components/Navbar.js') }}"
></script>
<script
  type="text/babel"
  src="{{ url_for('static', filename='react_components/Card.js') }}"
></script>

{% endblock %}
